:root {
	--panelColor: rgba(0.5,0.5,0.5,0.1);
}

body {
	padding: 0px;
	margin: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
	
html {
	padding: 0px;
	margin: 0px;

	font-family: 'Open Sans', sans-serif;
}