
/* LED BLINKING  https://codepen.io/fskirschbaum/pen/MYJNaj */
.led {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin-right: 10px;

	transition: background-color 1s ease-in-out;
}

.led-on {
	/* green */
	background-color: #ABFF00;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #588300 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 12px;
}

.led-off {
	/* red */
	background-color: #F00;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}