.panelQuestionMark_Hovered {
	width: 50px !important;
	border-radius: 0px !important;
	transform: translateY(-50%) translateX(-10px) !important;
	background-color: #FF0 !important;
}

.panelQuestionMark_Clicked {
	width: 24px;
	background-color: #0F0 !important;
}


.panelQuestionMark {
	transform: translateY(-50%) translateX(-10px);
	position: absolute;

	align-self: flex-end;

	border: solid;
	border-width: 1px;
	background-color: white;

	border-radius: 50%;
	width: 20px;
	text-align: center;

	background-color:#FF0;
	opacity: 10;
	box-shadow: 0px 2px 1px;

	transition: all 2s;
}

.blink {
	animation: blinkAnimation 3s ease-in-out infinite;
}
@keyframes blinkAnimation {
	50% {
		opacity: 0.1;
	}
}