.panel {
	margin: auto;
	margin-bottom: 45px;
	max-width: 800px;

	display: flex;
	flex-direction: column;
	align-items: space-around;

	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	background: linear-gradient(to bottom, rgba(0.5,0.5,0.5,0.2) 0%, rgba(0.5,0.5,0.5,0.1) 30%);
}

.panelTitle {
	padding-top: 12px;
	
	transform: translateX(5px);
	align-self: flex-start;
	
	text-align: center;
	
	padding-left: 10px;
	padding-right: 10px;
	
	font-style: oblique;
	font-weight: bolder;
	font-size: 16px;
}


.panelContent {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}


.panelTwoColumnContent {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}


.panelItem {
	display: flex; /* flex treats normal elements like flex items */
	align-items: center;

	align-content: space-between;
	margin: 10px;
}

.panelDoubleItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

.textOutput {
	background-color: white;
	box-shadow:0px 0px 2px inset;
	padding: 3px;
	margin-left: 5px;
	min-width: 50px;
}