.serialMonitorPanel {
	display: flex;
	flex-direction: column;
}

#serialMonitorInput {
	display: flex;
}

#serialMonitorInputTextArea {
	align-self: flex-start;
	height: 21px;
}


#serialMonitorSendButton {
	min-width: 72px !important;
	height: 21px;
}

/* Serial monitors panel contents */
.doubleVerticalPanelContent_Top {
	margin-bottom: 0px !important;
	padding: 0px !important;
}

.doubleVerticalPanelContent_Bottom {
	margin-top: 0px;
	padding: 0px !important;
}